* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.header-container {
    display: flex;
    font-size: 7.5px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 25px;
    background-color: navy;
    text-transform: uppercase;
    padding: 5px;
    margin-right: 5px;
    max-width: 100%;
}

.header-container a {
    color: white;
    margin-left: 10px;
}

.header-item {
    color: white;

}

.header-name {
    flex-grow: 2;
    font-size: 20px;
    color: white;
}

.intro {
    background-color:#4B9CD3;
    color: white;
    margin: 10px;
 }

/* .linkedin-button {
    
   
} */

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.my-name {
    font-size: 33.75px;
    font-weight: 535;
    text-transform: uppercase;
}

.skills {
    font-size: 20px;
    font-weight: 535;
}

/* .main-item {
    
} */

.profile-photo {
    height: 100px;
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: navy;
    max-width: 100%;
}

.footer-item {
    color: white;
}

.about-me-paragraphs {
    text-align: left;
    max-width: 100%;
    min-height: 1px;
    flex-direction: column;
}

#about-me {
    font-size: 30px;   
}

#projects {
    background-color:#4B9CD3;
    color: white;
}

/* #contact-me {

} */

img {
	max-width: 100%;
}

/* I know I need media tag(s) to resize the screen for larger devices. I just don't have any idea how the syntax of the media tag works yet. */
/* @media {

} */