* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.header-container {
    display: flex;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    line-height: 25px;
    background-color: navy;
    text-transform: uppercase;
}

.header-container a {
    color: white;
    margin-left: 10px;
}

.header-item {
    color: white;

}

.header-name {
    flex-grow: 2;
    color: white;

}

.intro {
    background-color:#4B9CD3;
    color: white;
    height: 350px;
}

.linkedin-button {
   
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

/* .main-item {
    
} */

.profile-photo {
    height: 100px;
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: navy;
}

.footer-item {
    color: white;
}

#about-me {

}

#projects {
background-color:#4B9CD3;
color: white;
}

#contact-me {

}